apiVersion: v1
kind: Service
metadata:
  namespace: oase
  name: rabbitmq
  labels:
    name: rabbitmq
spec:
  type: NodePort
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
    - name: management
      port: 15672
      targetPort: 15672
      nodePort: 30002
  selector:
    name: rabbitmq
